body {
  background: url(/assets/cool-background.png);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("Fonts/GothamBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Gotham-light";
  src: url("Fonts/GothamLight.ttf");
}

@font-face {
  font-family: 'Helvetica-light';
  src: url('Fonts/HelveticaNeueLT45Light.woff');
}

@font-face {
  font-family: 'Helvetica-medium';
  src: url('/Fonts/HelveticaNeueLT65Medium.woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica-Bold';
  src: url('Fonts/HelveticaNeueLT75Bold.woff');
}

:root {
  --color-red: #d35266;
  --color-black: #383838;
  --color-grey: #888;
}

.red {
  color: var(--color-red);
}

.grey {
  color: var(--color-grey);
}

.bold {
  font-family: 'Helvetica-Bold', sans-serif;
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica-medium', sans-serif;
  font-weight: 600;
}

a,
p,
div {
  font-family: 'Helvetica-light', sans-serif;
}

.pointer {
  cursor: pointer;
}

nav {
  background: #383838;
  width: 100%;
  height: 40px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
}

nav .nav-icons,
.n-tittles {
  display: flex;
  color: #888;
  align-items: center;
}

nav ul li i {
  font-size: 0.5rem;
}

.n-tittles {
  padding: 3px 0 0 5px;
  font-size: 0.6rem;
}

.nav-icons:hover,
.n-tittles:hover,
.right-icon:hover {
  color: var(--color-red);
  text-decoration: none;
}

.tittle-section {
  height: auto;
}

.card-body {
  height: auto;
}

.btn-add {
  border: 1px solid var(--color-grey);
  border-radius: 1px;
  width: 20px;
  height: 20px;
  padding: 3px;
  margin: 0;
  vertical-align: middle;
  color: var(--color-grey);
  font-size: 10px;
}

.pages {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid var(--color-grey);
  margin-right: 8px;
  padding-left: 5px;
}

.btn-add:hover,
.pages:hover {
  background-color: var(--color-black);
  color: var(--color-red);
}

/* footer */

.ik {
  margin-top: 40px;
}

.footer-tittle {
  border-bottom: 3px solid var(--color-red);
}

.categories-list {
  display: flex;
  justify-content: space-evenly;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  color: var(--color-grey);
  font-size: 0.8rem;
}

.configuration ul .options {
  display: flex;
  align-items: baseline;
  justify-content: start;
}

.footer-button {
  background-color: white;
  color: var(--color-grey);
  border: 1px solid var(--color-grey);
  margin-left: 20px;
}

.legend,
.social-networks {
  color: var(--color-grey);
  font-family: 'Helvetica-light', sans-serif;
  text-align: center;
  font-size: 0.7rem;
}

.f-icon {
  margin-right: 15px;
}

/* Search Page */

.pages2 {
  padding-left: 1px;
  margin-left: 8px;
}

/* 768px  */

@media screen and (min-width: 768px) {
  /* nav */
  nav {
    height: 60px;
  }

  .super-logo {
    width: 50px;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
  }

  nav ul li i {
    font-size: 0.9rem;
  }

  .n-tittles {
    font-size: 0.9rem;
  }

  .offers {
    background-color: var(--color-red);
    border: none;
    color: whitesmoke;
    padding-top: 2px;
    width: 110px;
    border-radius: 3px;
  }

  .right-side {
    font-size: 1rem;
  }

  .right-icon1 {
    margin-right: 20px;
  }

  .right-icon3 {
    margin-left: 20px;
    padding-bottom: 3px;
  }

  /* search-bar */

  .subtittle {
    color: white;
  }

  .search-bar {
    width: 100%;
    height: 250px;
    background-image: url(../assets/cover.png);
  }

  .container-1,
  .container-2 {
    margin-right: 1px;
  }

  .radious0 {
    border-radius: 0;
  }

  .btn-search {
    background-color: var(--color-black);
    color: var(--color-grey);
    height: 32px;
    font-size: 0.8rem;
  }

  /* Hot Ads */
  .red-boxes {
    color: white;
    height: 40px;
    text-align: center;
  }

  .redbox-1 {
    width: 50px;
    background-color: var(--color-red);
    border-right: 1px solid var(--color-black);
    border-radius: 3px;
    padding-top: 10px;
  }

  .redbox-2 {
    width: 150px;
    background-color: var(--color-red);
    padding-top: 10px;
    padding-left: 19px;
    border-radius: 3px;
  }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
}
