body {
  background: url(/assets/cool-background.png);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("Fonts/GothamBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Gotham-light";
  src: url("Fonts/GothamLight.ttf");
}

@font-face {
  font-family: 'Helvetica-light';
  src: url('Fonts/Helvetica\ Neue\ LT\ 45\ Light.woff');
}

@font-face {
  font-family: 'Helvetica-medium';
  src: url('Fonts/Helvetica\ Neue\ LT\ 65\ Medium.woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica-Bold';
  src: url('Fonts/Helvetica\ Neue\ LT\ 75\ Bold.woff');
}

:root {
  --color-red: #d35266;
  --color-black: #383838;
  --color-grey: #888;
}

.red {
  color: var(--color-red);
}

.grey {
  color: var(--color-grey);
}

.bold {
  font-family: 'Helvetica-Bold', sans-serif;
  font-weight: 800;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica-medium', sans-serif;
  font-weight: 600;
}

a, p {
  font-family: 'Helvetica-light', sans-serif;
}

nav {
  background: #383838;
  width: 100%;
  height: 40px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

nav .nav-icons,
.n-tittles {
  display: flex;
  color: #888;
  align-items: center;
}

nav ul li i {
  font-size: 0.5rem;
}

.n-tittles {
  padding: 3px 0 0 5px;
  font-size: 0.6rem;
}

.nav-icons:hover,
.n-tittles:hover {
  color: var(--color-red);
  text-decoration: none;
}

.tittle-section {
  height: auto;
}

.card-body {
  height: auto;
}

.btn-add {
  border: 1px solid var(--color-grey);
  border-radius: 1px;
  width: 20px;
  height: 20px;
  padding: 3px;
  margin: 0;  
  vertical-align: middle;
  color: var(--color-grey);
  font-size: 10px;
}

.btn-add:hover {
  background-color: var(--color-black);
  color: var(--color-red);
}